header {
  background-color: rgb(43, 45, 48);
  color: white;
}

body {
  margin: 15px;
  width: 960px;
}

img {
  margin: 15px;
}

nav li {
  display: inline;
  color: white;
  margin: 2em;
}

.col1, .col2, .col3 {
  float: left;
  margin: 15px;
  width: 30%;
}

.column1, .column2 {
  float: left;
  width: 50%;
}

h1 {
  font-size: 1.5em;
  margin: 15px;
}

p {
  margin: 15px;
}

button {
  margin: 15px;
}